body{

background:#0f172a;
color:white;
font-family:Arial;
padding:30px;

}

h1{

text-align:center;
color:#38bdf8;

}

.top{

display:flex;
gap:40px;
justify-content:center;

}

.camera img{

width:600px;
border-radius:10px;
border:3px solid cyan;

}

.stats{

background:#1e293b;
padding:20px;
border-radius:10px;
width:200px;
text-align:center;

}

.stats div{

font-size:28px;
margin-bottom:20px;

}
